.NFTTokens {
    .NFTSmallIcon {
        margin-top: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        width: 2rem;
        height: 2rem;
    }

    .VerticalMenu {
        a {
            padding: 5px !important;
            padding-left: 8px !important;
            color: black !important;
        }
    }
}
