header {
    background-color: #2185d0 !important;
}

header > * .button.hollow {
    border-color: #fff !important;
    color: #fff !important;
}

.Locale_current:not(.open) {
    color: #fff !important;
}

.Locale_current-chevron:not(.open) {
    border-top-color: #fff !important;
}
