.TransferNFT {
    .error {
        margin-bottom: 1rem;
    }
    .button {
        margin-bottom: 0rem;
    }
    .done {
        margin-left: 0.5rem;
    }
    .page-link {
        margin-top: 1rem;
    }
}
