.Main {
    .client-list {
        img {
            width: 32px;
            height: 32px;
        }
        .posting {
            margin-right: 10px;
        }
        button {
            margin-bottom: 0px;
            margin-left: 10px;
        }
    }
}
