.PagedDropdownMenu__paginator {
    display: inline-block !important;
    text-align: center;
    color: #0078C4 !important;
    font-weight: normal !important;
    font-size: 100% !important;
    user-select: none;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;

    &.disabled {
        cursor: auto;
    }
}
